body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #50BABA, #1cc88a);
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    color: #13302F;
}

input[type="text"],
input[type="date"] {
    width: 20%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button, input[type="submit"] {
    background-color: #B0BFBF;
    color: black;
    padding: 8px 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #99DEDE;
}

.error {
    color: red;
    font-weight: bold;
}
